{% extends "layout.html" %}

{% block title %}
    Home 
{% endblock %}

{% block body %}
    
    <div class="jumbotron text-center">

        <h1>WELCOME TO THE BEST BOOK REVIEW SITE</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptate dolore, cupiditate, fugiat consequuntur obcaecati ex suscipit animi quasi provident tenetur! Ea at consectetur dignissimos debitis dolores odio sapiente assumenda.

        </p>
   
    </div>
  
{% endblock %}

